@using Newtonsoft.Json
@model Search
@{
    ViewData["Title"] = "Home Page";
}

<div class="nhsuk-width-container">
    <h1 class="app-page-heading">Find Patient</h1>
    @using (Html.BeginForm("IndexPost", "Home", FormMethod.Post))
    {
        <div class="search-wrap" id="wrap-search">
            
            @Html.TextBoxFor(m => m.NhsNumber, new {@class = "nhsuk-search__input", @placeholder = "Patient NHS Number"})
            <button class="nhsuk-search__submit" type="submit">

                <svg b-jhzfvn6z4s="" class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                    <path b-jhzfvn6z4s="" d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
            </button>
        </div>
        @if (@Model.Response is not null)
             { 
                 <div class="nhsuk-u-margin-top-9">
                     <div class="nhsuk-tabs" data-module="nhsuk-tabs">
                         <h2 class="nhsuk-tabs__title">
                             Contents
                         </h2>

                         <ul class="nhsuk-tabs__list">

                             <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                                 <a class="nhsuk-tabs__tab" href="#patient">
                                     Patient
                                 </a>
                             </li>

                             <li class="nhsuk-tabs__list-item">
                                 <a class="nhsuk-tabs__tab" href="#medication-statements">
                                     Medication Statements
                                 </a>
                             </li>

                             <li class="nhsuk-tabs__list-item">
                                 <a class="nhsuk-tabs__tab" href="#encounters">
                                     Enounters
                                 </a>
                             </li>

                              <li class="nhsuk-tabs__list-item">
                                  <a class="nhsuk-tabs__tab" href="#allergies">
                                      Allergy Intolerance
                                  </a>
                              </li>
                             <li class="nhsuk-tabs__list-item">
                                 <a class="nhsuk-tabs__tab" href="#documents">
                                     Documents
                                 </a>
                             </li>

                         </ul>

                         <div class="nhsuk-tabs__panel" id="patient">
                             <div>
                                 <h2 class="">Patient</h2>
                                 @foreach (var patient in @Model.Response.Patients)
                                 {
                                     @Html.Partial("Patient", patient)
                                 }
                             </div>
                         </div>
                         <div class="nhsuk-tabs__panel" id="medication-statements">
                             <div>
                                 <h2 class="">Medication Statements</h2>
                                 @Html.Partial("MedicationStatements", @Model.Response.MedicationStatements)
                             </div>
                         </div>
                         <div class="nhsuk-tabs__panel" id="encounters">
                             <div>
                                 <h2 class="">Encounters</h2>
                                 @Html.Partial("Encounters", @Model.Response.Encounters)
                             </div>
                         </div>
                         <div class="nhsuk-tabs__panel" id="allergies">
                             <div>
                                 <h2 class="">Allergy Intolerance</h2>
                                 @Html.Partial("AllergyIntolerance", @Model.Response.AllergyIntolerances)
                             </div>
                         </div>
                         <div class="nhsuk-tabs__panel" id="documents">
                             <div>
                                 <h2 class="">Documents</h2>
                                 <div class="nhsuk-summary-list__row">
                                     <dt class="nhsuk-summary-list__key">
                                         Count
                                     </dt>
                                     <dd class="nhsuk-summary-list__value">
                                         <p>@Model.Response.Documents.Count</p>
                                     </dd>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             }
    }
</div>
