@using Hl7.Fhir.Model
@using GPMigratorApp.GPConnect.Helpers
@model GPMigratorApp.GPConnect.Profiles.GPConnectPatient

<dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                NHS Number
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Model.NHSNumber.Value - @Model.NHSNumberVerified.Display
            </dd>
        </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Name
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.Name[0].TextElement
        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.BirthDate
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Language
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.Language
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Religion
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.Religion?.Display
        </dd>
    </div>
     <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Ethnicity
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.Ethnicity?.Display
                    </dd>
                </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Contact information
        </dt>
        </div>
     <div class="nhsuk-summary-list__row">  
        @if (@Model.HomeAddress is not null)
        { <dt class="nhsuk-summary-list__key">
              Home Address
          </dt>
            <dd class="nhsuk-summary-list__value">
                @foreach (var line in @Model.HomeAddress.LineElement)
                {
                    <p>@line</p>
                }
                <p>@Model.HomeAddress.CityElement</p>
                <p>@Model.HomeAddress.PostalCodeElement</p>
                @if (@Model.HomeAddress.HasStart())
                {
                    <p>From: @Model.HomeAddress.Start()</p>
                }
                @if (@Model.HomeAddress.HasEnd())
                {
                    <p>To: @Model.HomeAddress.End()</p>
                }
            </dd>
        }
        </div>
        @if (@Model.OtherAddresses != null && Model.OtherAddresses.Any())
        {<div class="nhsuk-summary-list__row">  
       
            @foreach (var address in @Model.OtherAddresses)
            {
             <dt class="nhsuk-summary-list__key">
                  Other Addresses
              </dt>
                <dd class="nhsuk-summary-list__value">
                    <p>Use @address.Use</p>
                    @foreach (var line in address.LineElement)
                    {
                        <p>@line</p>
                    }
                    <p>@address.CityElement</p>
                    <p>@address.PostalCodeElement</p>
                    <p>From: @address.Start()</p>
                    @if (@Model.HomeAddress.HasEnd())
                    {
                        <p>To: @address.End()</p>
                    }
                    <p>@address.PostalCodeElement</p>
                </dd>
            }
            </div>
        }


    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Contact details
        </dt>
        <dd class="nhsuk-summary-list__value">
            @foreach (var contact in @Model.Telecom.OrderBy(x => x.Rank))
            {
                <p>@contact.System.Value - @contact.ValueElement</p>
            }
            
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Registered since
        </dt>
        <dd class="nhsuk-summary-list__value">
            <p>@Model.FirstRegistered.ToString("dd/MM/yyyy")</p>
            
        </dd>
    </div>

</dl>